
#wap {
	width: 100%;
	height: 100%;
	margin: auto;
}


#banner {
	width: 100%;
	margin: auto;
}

.banner {
	width: 100%;
	height: 100%;
	position: relative;
}

.banner>img {
	width: 100%;
	display: block;
	height: 100%;
}

.banner>p:nth-child(1) {
	position: absolute;
	right:5%;
	color: #fff;
	height: 287px;
	top: 43%;
}

.banner>p:nth-child(2) {
	width: 45%;
	height: 100px;
	position: absolute;
	text-align: right;
	color: #fff;
	right:5%;
	top: 49%;
	
}

#nav {
	width: 100%;
	height: 100%;
}

.nav {
	width: 100%;
	height: 287px;
	background: #993333;
	padding-top: 95px;
	padding-bottom: 3rem;
	box-sizing: border-box;
}

.nav>p:nth-child(1) {
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: -20px;
	margin-bottom: 25px;
}

.nav>p:nth-child(2) {
	color: #fff;
	width: 940px;
	text-align: center;
	height: 1rem;
	margin: auto;
	line-height: 24px;
}

.situ>ul {
	width: 100%;
}

.situ>ul>li {
	width: 50%;
	float: left;
}

.situ>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.situ>ul>li>a>img {
	width: 100%;
	display: block;
	transition: all .2s linear;
}

.situ>ul>li>a>img:hover {
	transform: scale(1.1);
}


@media only screen and (min-width: 750px) and (max-width:1499px) {
	.banner>p:nth-child(1) {
		position: absolute;
		text-align: right;
		margin-right: 5%;		
		text-shadow:0px 0px 10px #333 ;
		color: #fff;
		top: 42%;

	}
	.banner>p:nth-child(2) {
		width: 40%;
		margin: auto;

		color: #fff;
		text-align: right;

		margin-right: 5%;
	}
	.nav{
		height: 200px;
		box-sizing: border-box;
		}
	.nav>p:nth-child(1),.nav>p:nth-child(2) {
		width: 90%;
		margin: auto;
		text-align: center;
	}
	.nav>p:nth-child(1) {
		margin-top: -40px;
		margin-bottom: 20px;
		width: 100%;
		color: #fff;
		text-align: center;
		height: 1rem;
		line-height: 1rem;

	}
	.nav>p:nth-child(2) {
		color: #fff;
		text-align: center;
		height: 2rem;
		line-height: 24px;
		width: 90%;


		-webkit-transform:scale(0.8);
		margin: auto;
		margin-top: 12px;
	}
}

@media screen and (min-width:350px) and (max-width:749px) {
	.banner>p:nth-child(1) {
		position: absolute;
		text-align: center;
		width: 98%;
		margin: auto;
		right: 1%;
		height: 0px;
		text-shadow: 0px 0px 10px #000;
		color: #fff;

		top: 37%;
	}
	.banner>p:nth-child(2) {
		position: absolute;
		width: 95%;
		margin: auto;

		-webkit-transform:scale(0.8);
		color: #fff;
		text-align: center;

		top: 46%;
	}
	.nav{
		height: 0px;
		box-sizing: border-box;
	}
	.nav>p:nth-child(1) {
		margin-top: -60px;
		width: 100%;
		color: #fff;
		height: 0px;
		text-align: center;
		line-height: 1rem;

	}
	.nav>p:nth-child(2) {
		color: #fff;
		margin-top: -40px;
		text-align: center;
		line-height: 1rem;
		width: 90%;

		-webkit-transform:scale(0.8);
		margin: auto;
		margin-top: 12px;
	}
}

@media screen and (max-width: 349px) {
	.banner>p:nth-child(1) {
		position: absolute;
		text-align: center;
		width: 96%;
		margin: auto;
		right: 1%;

		color: #fff;
		text-shadow:0px 0px 10px #333;

		top: 25%;
	}
	/*.head ul li{
		line-height: 300%;
	}*/
	.banner>p:nth-child(2) {
		position: absolute;
		width: 98%;
		margin: auto;
		right: 1%;
		text-align: center;
		-webkit-transform:scale(0.8);
		color: #fff;

		top: 35%;
	}
	.nav{
		height: 0px;
		box-sizing: border-box;
	}
	.nav>p:nth-child(1) {
		margin-top: -60px;
		width: 100%;
		color: #fff;
		margin-bottom: 5px;
		text-align: center;
		height: 1rem;
		line-height: 1rem;

	}
	.nav>p:nth-child(2) {
		color: #fff;
		margin-top: -40px;
		text-align: center;
		height: 2rem;
		line-height: 1rem;
		width: 90%;
		-webkit-transform:scale(0.8);
		margin: auto;
	}
	.biaoti_size{
		font-family: arial;
		font-size:12px;
		font-weight: 600;
	}
	.neirong{
		font-family: arial;
		font-size: 10px;
	
	}
}