



.fuel_one{
	width: 100%;
	position: relative;
}

.imgs{
display: block;
	width: 100%;
}
.fuel_1 {
	width:35% ;
	position: absolute;
	right:5%;
	top:30%;
	
}
.fuel_1_1{
	font-family:"franklin gothic medium";
	width: 100%;
	font-size:20px;
	color: #841c24;
	margin-bottom: 24px;
	text-align: right;
}
.fuel_1_2{
	font-family:"franklin gothic book";
	font-size:14px;
	width: 90%;
	float: right;
	text-align: right;
}
.fuel_2{
	width: 45%;
	height: 40%;
	position: absolute;
	top: 20%;
	left:8.5%;
	background-color: rgba(0,0,0,.6);
	
}
.fuel_2_1{
	width: 90%;
	margin: auto;
	font-family:"franklin gothic medium";
	font-size:20px;
	color: #fff;
	margin-bottom:10px;
	margin-top:15px;
}
.fuel_2_2{
width: 90%;
margin: auto;
	font-family:"franklin gothic book";
	font-size:14px;
	color: #fff;
}

#a1{
	width:60%;
	height:75%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	
}

.fuel_4{
	width:60%;
	height:36%;
	position: absolute;
	top:32%;
	left: 20%;
	background-color:rgba(0,0,0,.6);
	
}
.fuel_4_1{
	width: 90%;
	margin:auto;
	font-family:"franklin gothic medium";
	font-size:20px;
	color: #fff;
	text-align: center;
	margin-bottom:10px;
	margin-top:10px;
}
.fuel_4_2{
	width: 90%;
	margin:auto;
	font-family:"franklin gothic book";
	font-size:14px;
	text-align: center;
	color: #fff;
}


.fuel_5 {
	width:35% ;
	position: absolute;
	right:5%;
	top:30%;
	
}
.fuel_5_1{
	font-family:"franklin gothic medium";
	font-size:20px;
	color:#000000;
	margin-bottom: 24px;
}
.fuel_5_2{
	font-family:"franklin gothic book";
	font-size:14px;
	color: #000000;
	font-weight: 400;
}
