* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 100%;
	height: 100%;
	font-family: arial;
}

.head-ul li a {
	font-family: "franklin gothic medium";
}

@media only screen and (min-width:1024px) {
	.head-ul li a {
		font-size: 14px;
	}
}

#head {
	height: 81px;
}

.head {
	width: 100%;
	height: 81px;
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 5;
}

.head_top {
	width: 83.2%;
	height: 39px;
	color: #000;
	line-height: 300%;
	margin: auto;
	text-align: right;
	font-size: 12px;
}

.head_bottom {
	width: 83.2%;
	height: 42px;
	margin: auto;
	position: relative;
	z-index: -1;
}

.head-img {
	width: 188px;
	float: left;
}

.head-ul {
	height: 100%;
	float: right;
	width: 60%;
	display: -ms-flex;
	display: flex;
	display: -ms-flexbox;
}

.head-ul li {
	list-style: none;
	/*height:100%;*/
	text-align: right;
	line-height: 40px;
	float: left;
	-ms-flex: 1;
	flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

.btn {
	width: 24px;
	height: 3px;
	position: absolute;
	background: #ccc;
	top: 14px;
	display: none;
	z-index: 10;
}

.btn1 {
	position: fixed;
	right: 8%;
	top: 40px;
	width: 24px;
	height: 30px;
	display: none;
}

.btn:after {
	content: '';
	position: absolute;
	background: #ccc;
	top: 8px;
	width: 24px;
	height: 3px;
	z-index: 10;
	display: block;
}

.btn:before {
	content: '';
	position: absolute;
	background: #ccc;
	top: -8px;
	width: 24px;
	height: 3px;
	z-index: 10;
	display: block;
}

.head-ul a {
	width: 100%;
	height: 100%;
	display: block;
	color: #000;
	text-decoration: none;
}

.head-ul .flaxes {
	flex: 1.6;
}

#bottom {
	background: #6b6b6b;
}

.bottom_body {
	width: 83.2%;
	height: 81px;
	margin: auto;
}

.bottom_zi {
	width:400px;
	font-size: 10px;
	color: #fff;
	box-sizing: border-box;
	padding-top:2.5%;
	float: left;
}

.bottom_zi p {
	word-break: break-all;
}

.bottom_img {
	margin-top: 2.5%;
	float: right;
}

.bottom_img img {
	width: 22px;
	height: 22px;
}

.app {
	display: none;
}

.head-ul li a:hover {
	color: #841c24;
}

@media only screen and (min-width:1500px) {
	.head_top,
	.head_bottom {
		width: 1440px;
		margin: auto;
	}
}

@media only screen and (max-width:1240px) {
	.head-ul {
		width: 70%;
	}
	.head-ul li a {
		font-size: 12px;
	}
}


@media only screen and (max-width:769px) {
	.head-ul li {
		flex: 0.81;
	}
	.head-ul .oli {
		flex: 1;
	}
	.flaxes {
		text-align: center;
	}
}

@media only screen and (min-width:768px) {
	.app {
		display: none;
	}
}

@media only screen and (max-width:767px) {
	.head-ul {
		width: 100%;
		display: block;
		position: absolute;
		top: 99%;
		background: #fff;
		display: none;
	}
	.head-ul li {
		width: 100%;
		text-align: left;
		line-height: 220%;
		background: #fff;
		padding-left: 8%;
		box-sizing: border-box;
	}
	.head-ul li:hover {
		background: #ccc;
	}
	.btn {
		display: block;
	}
	.bottom_zi {
		padding-top: 5%;
	}
	.bottom_img {
		margin-top: 5%;
	}
	.btn1{
		display: block;
	}
}

@media only screen and (max-width:450px) {
	.bottom_zi {
		width: 206px;
	}
	.bottom_img {
		margin-top: 5%;
	}
	.head-ul {
		position: absolute;
		top: 99%;
	}
}