@charset "utf-8";
.sanjiao1{
    border-top: 4px solid transparent;
    border-left: 8px solid #841b22;
    border-bottom: 4px solid transparent;
}
.wenzi1{
	font-size:23px;
	top:45%;
}
.wenzi2{
	font-size:17px;
	top:60%;
}
.wenzi3{
	font-size:23px;
	top:42%;
}
.sanjiao2{
    border-top: 4px solid transparent;
    border-left: 8px solid #841b22;
    border-bottom: 4px solid transparent;
}